.white-text {
  color: white;
}

.carousel {
  border-radius: 10px;
  box-shadow: 8px 8px 10px rgba(38, 36, 36, 0.8);
}
.bg-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://live.staticflickr.com/2155/2372222305_3df2bace11_z.jpg");
  background-size: cover;
  z-index: -1;
}
